<div class="d-flex champion-details" *ngIf="selectedChampion$ | async as champion">
  <div class="d-flex details-header">
    <h2>{{ champion.name }}</h2>
    <h4>{{ champion.title }}</h4>
  </div>
  <div class="d-flex details-body">
    <img [src]="champion.icon" alt="" />
    <span class="description">{{ champion.description }}</span>
  </div>
</div>
