<div class="champion-basket">
  <ul>
    <li *ngFor="let champ of champions">
      <div class="basic-champ">
        <img [src]="champ.icon" [title]="champ.name" />
      </div>
    </li>
  </ul>
</div>
