.champ-list {
  flex-wrap: wrap;
  justify-content: center;

  .champ-item {
    width: 140px;
    height: 168px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
    }

    .small-champion {
      font-size: 12px;
      flex-direction: column;
      text-align: center;

      img {
        margin: auto;
        width: 120px;
        height: 120px;
      }
    }
  }
}
